name: hello-world
on: push
jobs:
  gcc-debug:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
      - name: "Checkout the source code"
        uses: actions/checkout@v2
      - name: build project
        run: ${{ github.workspace }}/scripts/build
        shell: bash
  gcc-release:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
      - name: "Checkout the source code"
        uses: actions/checkout@v2
      - name: build project
        run: ${{ github.workspace }}/scripts/build -r
        shell: bash
  clang-debug:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
      - name: "Checkout the source code"
        uses: actions/checkout@v2
      - name: "Setup environment"
        run: sudo apt install clang-16
        shell: bash
      - name: build project
        run: ${{ github.workspace }}/scripts/build -clang
        shell: bash
  clang-release:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo "Hello World!"
      - name: "Checkout the source code"
        uses: actions/checkout@v2
      - name: "Setup environment"
        run: sudo apt install clang-16
        shell: bash
      - name: build project
        run: ${{ github.workspace }}/scripts/build -clang -r
        shell: bash
